<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <link rel="stylesheet" href="/css/angular-material-layout.css">
</head>
<body>
  <!--
    Your HTML content here
  -->
  <div layout="column"  ng-cloak="" class="sidenavdemoBasicUsage toolbardemoBasicUsage" ng-app="MyApp">
      <div ng-controller="AppCtrl">
    <header  >
    <md-toolbar>
      <div class="md-toolbar-tools">
        <!-- Toogle SideNav -->
        <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()" >
          <i class="material-icons">view_headline</i>
        </md-button>
        <!-- Title -->
        <h1 class="md-headline">
          <span>{{toolbarTitle}}</span>
        </h1>
        <span flex></span>
        <!-- Menu -->
        <!--<md-button class="md-icon-button" aria-label="More">
         <i class="material-icons">more_vert</i>
       </md-button>
     -->
      </div>
    </md-toolbar>
    </header>


    <!-- SideNav -->
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" >
      <!-- SideNav Title -->
      <md-toolbar class="md-theme-indigo" >
        <p class="md-toolbar-tools">NotiVis</p>
      </md-toolbar>
  <!--    <div layout-padding="" layout="column" ng-controller="LeftCtrl">     </div>-->

<!-- Avatar -->
    <div>

    </div>

<!-- Control List -->
  <md-list >
    <a href="{{page.path}}" style="color: rgba(0,0,0, 0.54);"  class="sidenav-link" ng-repeat="page in mainPages" ng-click="navigateTo(page);">
      <md-list-item class="sidenav-list-item">
        <i class="material-icons">{{page.icon}}</i>
        <span class="md-subhead">{{page.text}}</span>
      </md-list-item>
    </a>



     <md-divider ></md-divider>

     <a href="{{page.path}}" style="color: rgba(0,0,0, 0.54);" class="sidenav-link" ng-repeat="page in subPages" ng-click="navigateTo(page);">
       <md-list-item class="sidenav-list-item">
         <i class="material-icons">{{page.icon}}</i>
         <span class="md-subhead">{{page.text}}</span>
       </md-list-item>
     </a>


  </md-list>




    </md-sidenav>

</div>

<!-- Page View -->
<div ng-view id="content">
</div>

<!-- Page View -->











</div>

<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->

  <!--
  Copyright 2016 Google Inc. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
  -->

<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
  <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>
  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>

  <!-- Your application bootstrap  -->
  <script type="text/javascript">
    /**
     * You must include the dependency on 'ngMaterial'
     */

    var app = angular.module('MyApp',['ngMaterial', 'ngMessages', 'ngRoute', 'material.svgAssetsCache']);

      app.config(['$routeProvider', function($routeProvider) {
        $routeProvider
          .when('/', {
            templateUrl: '../templates/timeline.html',
            controller: 'TimelineController'
          })
          .when('/timeline', {
            templateUrl: '../templates/timeline.html',
            controller: 'TimelineController'
          })
          .when('/dashboard', {
            templateUrl: '../templates/dashboard.html',
            controller: 'DashboardController'
          })
          .when('/control', {
            templateUrl: '../templates/control.html',
            controller: 'ControlController'
          })
          .when('/devices', {
            templateUrl: '../templates/devices.html',
            controller: 'DevicesController'
          })
          .when('/settings', {
            templateUrl: '../templates/settings.html',
            controller: 'SettingsController'
          })
          .when('/help', {
            templateUrl: '../templates/help.html',
            controller: 'HelpController'
          })
          .when('/share', {
            templateUrl: '../templates/share.html',
            controller: 'ShareController'
          })
          .otherwise({ redirectTo: '/' });
      }]);

      app.controller('AppCtrl', function ($scope, $timeout, $mdSidenav, $log, $location) {


                 $scope.mainPages = [
                   {
                     icon : 'schedule',
                     text: 'Timeline',
                     path: '#/timeline'
                   },
                   {
                     icon : 'dashboard',
                     text: 'Dashboard',
                     path: '#/dashboard'
                   },
                   {
                     icon : 'pan_tool',
                     text: 'Control',
                     path: '#/control'
                   },
                 ];

                 $scope.subPages = [
                   {
                     icon : 'devices_other',
                     text: 'My devices',
                     path: '#/devices'
                   },
                   {
                     icon : 'help',
                     text: 'Help',
                     path: '#/help'
                   },
                   {
                     icon : 'share',
                     text: 'Share',
                     path: '#/share'
                   },
                 ];



          $scope.currentPage = $scope.mainPages[0];


          $scope.navigateTo =   function navigateTo(page) {

             $scope.currentPage = page;
             $log.debug("Page: " + page.path + " selected");

            //  $location.url('templates/timeline.html'); // path not hash

            // close sidenav after interaction
            $mdSidenav('left').close()
              .then(function () {
                $log.debug("close LEFT is done");
              });
          };





        $scope.toolbarTitle = "Layout-Demo";

        $scope.toggleLeft = buildDelayedToggler('left');

        $scope.isOpenRight = function(){
          return $mdSidenav('right').isOpen();
        };

        /**
         * Supplies a function that will continue to operate until the
         * time is up.
         */
        function debounce(func, wait, context) {
          var timer;

          return function debounced() {
            var context = $scope,
                args = Array.prototype.slice.call(arguments);
            $timeout.cancel(timer);
            timer = $timeout(function() {
              timer = undefined;
              func.apply(context, args);
            }, wait || 10);
          };
        }

        /**
         * Build handler to open/close a SideNav; when animation finishes
         * report completion in console
         */
        function buildDelayedToggler(navID) {
          return debounce(function() {
            $mdSidenav(navID)
              .toggle()
              .then(function () {
                $log.debug("toggle " + navID + " is done");
              });
          }, 200);
        }

        function buildToggler(navID) {
          return function() {
            $mdSidenav(navID)
              .toggle()
              .then(function () {
                $log.debug("toggle " + navID + " is done");
              });
          }
        }
      });



      app.controller('LeftCtrl', function ($scope, $timeout, $mdSidenav, $log) {
        $scope.close = function () {
          $mdSidenav('left').close()
            .then(function () {
              $log.debug("close LEFT is done");
            });

        };
      });


      app.controller('TimelineController', function($scope, $log) {

          $scope.currentPage = 'Timeline';
          $log.debug("TimelineController");
      });

      app.controller('DashboardController', function($scope, $log) {

          $scope.currentPage = 'Dashboard';
          $log.debug("DashboardController");
      });

      app.controller('ControlController', function($scope, $log) {

          $scope.currentPage = 'Control';
          $log.debug("ControlController");
      });

      app.controller('DevicesController', function($scope, $log) {

          $scope.currentPage = 'Devices';
          $log.debug("DevicesController");
      });

      app.controller('SettingsController', function($scope, $log) {

          $scope.currentPage = 'Settings';
          $log.debug("SettingsController");
      });

      app.controller('HelpController', function($scope, $log) {

          $scope.currentPage = 'Help';
          $log.debug("HelpController");
      });

      app.controller('ShareController', function($scope, $log) {

          $scope.currentPage = 'Share';
          $log.debug("ShareController");
      });
    /**
    Copyright 2016 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
    **/


 /**
 Copyright 2016 Google Inc. All Rights Reserved.
 Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
 **/
  </script>

</body>
</html>

<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->
